---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/games?genres=shooter&key=<RAWG API Key>&page_size=20&search=dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Path:
      - api-game-list
      Content-Language:
      - en
      Api-User:
      - '658140'
      X-Server:
      - api_rawg_io
    body:
      encoding: UTF-8
      string: '{"count":63,"next":"https://api.rawg.io/api/games?genres=shooter&key=<RAWG
        API Key>&page=2&page_size=20&search=dog","previous":null,"results":[{"slug":"dog-duty","name":"Dog
        Duty","playtime":3,"platforms":[{"platform":{"id":4,"name":"PC","slug":"pc"}},{"platform":{"id":1,"name":"Xbox
        One","slug":"xbox-one"}},{"platform":{"id":18,"name":"PlayStation 4","slug":"playstation4"}},{"platform":{"id":7,"name":"Nintendo
        Switch","slug":"nintendo-switch"}}],"stores":[{"store":{"id":1,"name":"Steam","slug":"steam"}},{"store":{"id":3,"name":"PlayStation
        Store","slug":"playstation-store"}},{"store":{"id":2,"name":"Xbox Store","slug":"xbox-store"}},{"store":{"id":11,"name":"Epic
        Games","slug":"epic-games"}}],"released":"2020-09-17","tba":false,"background_image":"https://media.rawg.io/media/screenshots/ad3/ad34cb5d25c4ff262161c72e9efc5cef.jpg","rating":0.0,"rating_top":0,"ratings":[{"id":3,"title":"meh","count":2,"percent":66.67},{"id":1,"title":"skip","count":1,"percent":33.33}],"ratings_count":3,"reviews_text_count":0,"added":76,"added_by_status":{"yet":4,"owned":61,"beaten":1,"toplay":8,"dropped":2},"metacritic":48,"suggestions_count":175,"updated":"2022-05-04T14:38:32","id":28157,"score":"24.477142","clip":null,"tags":[{"id":31,"name":"Singleplayer","slug":"singleplayer","language":"eng","games_count":182311,"image_background":"https://media.rawg.io/media/games/328/3283617cb7d75d67257fc58339188742.jpg"},{"id":42417,"name":"Экшен","slug":"ekshen","language":"rus","games_count":28433,"image_background":"https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg"},{"id":40847,"name":"Steam
        Achievements","slug":"steam-achievements","language":"eng","games_count":27175,"image_background":"https://media.rawg.io/media/games/d58/d588947d4286e7b5e0e12e1bea7d9844.jpg"},{"id":42398,"name":"Инди","slug":"i[...]
