---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/games?key=<RAWG API Key>&page_size=20&search=dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Path:
      - api-game-list
      Content-Language:
      - en
      Api-User:
      - '658518'
      X-Server:
      - api_rawg_io
    body:
      encoding: UTF-8
      string: '{"count":2459,"next":"https://api.rawg.io/api/games?key=<RAWG API Key>&page=2&page_size=20&search=dogs","previous":null,"results":[{"slug":"dogs","name":"Dogs","playtime":0,"platforms":[{"platform":{"id":171,"name":"Web","slug":"web"}}],"stores":[{"store":{"id":9,"name":"itch.io","slug":"itch"}}],"released":"2020-12-15","tba":false,"background_image":"https://media.rawg.io/media/screenshots/a32/a32319b7d764cb6295c3443a01d8d1c0.jpg","rating":0.0,"rating_top":0,"ratings":[],"ratings_count":0,"reviews_text_count":0,"added":0,"added_by_status":null,"metacritic":null,"suggestions_count":0,"updated":"2020-12-18T07:42:34","id":533452,"score":"42.973038","clip":null,"tags":[{"id":45,"name":"2D","slug":"2d","language":"eng","games_count":86340,"image_background":"https://media.rawg.io/media/games/9fa/9fa63622543e5d4f6d99aa9d73b043de.jpg"},{"id":64,"name":"Fantasy","slug":"fantasy","language":"eng","games_count":10733,"image_background":"https://media.rawg.io/media/games/8d4/8d46786ca86b1d95f3dc7e700e2dc4dd.jpg"},{"id":88,"name":"Cute","slug":"cute","language":"eng","games_count":12073,"image_background":"https://media.rawg.io/media/games/972/972aea3c9eb253e893947bec2d2cfbb9.jpg"},{"id":653,"name":"Dogs","slug":"dogs","language":"eng","games_count":1433,"image_background":"https://media.rawg.io/media/screenshots/46b/46bfdcbd76387c3a8c08cc149a07b6f1_JXKhj8T.jpg"},{"id":1485,"name":"Christmas","slug":"christmas","language":"eng","games_count":1796,"image_background":"https://media.rawg.io/media/screenshots/9e9/9e92378fe36f1fd06418632fc28b4b98.jpg"}],"esrb_rating":null,"user_game":null,"reviews_count":0,"community_rating":0,"saturated_color":"0f0f0f","dominant_color":"0f0f0f","short_screenshots":[{"id":-1,"image":"https://media.rawg.io/media/screenshots/a32/a32319b7d764cb6295c3443a01d8d1c0.jpg"},{"id":2642083,"image":"https://media.rawg.io/media/screenshots/a32/a32319b7d764cb6295c3443a01d8d1c0.jpg"}],"parent_platforms":[{"platform":{"id":14,"name":"Web","slug":"web"}}],"genres":[{"id":10,"name":"Strategy","slug":"strategy"}]},{"slug":"dogs-of-war-online","name":"Dogs
        of War Online","playtime":1,"platforms":[{"platform":{"id":4,"name":"PC","slug":"pc"}}],"stores":[{"store":{"id":1,"name":"Steam","slug":"steam"}}],"released":"2014-02-04","tba":false,"background_image":"https://media.rawg.io/media/screenshots/7fe/7fe62d74b32fd74332d2fa7b24c62d6d.jpg","rating":1.71,"rating_top":1,"ratings":[{"id":1,"title":"skip","count":5,"percent":71.43},{"id":4,"title":"recommended","count":1,"percent":14.29},{"id":3,"title":"meh","count":1,"percent":14.29}],"ratings_count":7,"reviews_text_count":0,"added":289,"added_by_status":{"yet":5,"owned":280,"beaten":1,"dropped":3},"metacritic":null,"suggestions_count":556,"updated":"2022-08-30T13:13:20","id":16643,"score":"21.282808","clip":null,"tags":[{"id":31,"name":"Singleplayer","slug":"singleplayer","language":"eng","games_count":186409,"image_background":"https://media.rawg.io/media/games/618/618c2031a07bbff6b4f611f10b6bcdbc.jpg"},{"id":42396,"name":"Для
        одного игрока","slug":"dlia-odnogo-igroka","language":"rus","games_count":28191,"image_background":"https://media.rawg.io/media/games/f87/f87457e8347484[...]
