---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/games?key=<RAWG API Key>&page_size=20&search=sndftrgrtrvbsdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Path:
      - api-game-list
      Content-Language:
      - en
      Api-User:
      - '658155'
      X-Server:
      - api_rawg_io
    body:
      encoding: UTF-8
      string: '{"count":0,"next":null,"previous":null,"results":[],"user_platforms":false}'
  recorded_at: Mon, 24 Oct 2022 19:27:41 GMT
recorded_with: VCR 6.1.0
