---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/games?genres=shooter&key=<RAWG API Key>&page_size=20&search=dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Path:
      - api-game-list
      Content-Language:
      - en
      Api-User:
      - '658518'
      X-Server:
      - api_rawg_io
    body:
      encoding: UTF-8
      string: '{"count":107,"next":"https://api.rawg.io/api/games?genres=shooter&key=<RAWG
        API Key>&page=2&page_size=20&search=dogs","previous":null,"results":[{"slug":"watch-dogs-legion","name":"Watch
        Dogs: Legion","playtime":0,"platforms":[{"platform":{"id":4,"name":"PC","slug":"pc"}},{"platform":{"id":187,"name":"PlayStation
        5","slug":"playstation5"}},{"platform":{"id":1,"name":"Xbox One","slug":"xbox-one"}},{"platform":{"id":18,"name":"PlayStation
        4","slug":"playstation4"}},{"platform":{"id":186,"name":"Xbox Series S/X","slug":"xbox-series-x"}}],"stores":[{"store":{"id":3,"name":"PlayStation
        Store","slug":"playstation-store"}},{"store":{"id":2,"name":"Xbox Store","slug":"xbox-store"}},{"store":{"id":11,"name":"Epic
        Games","slug":"epic-games"}}],"released":"2020-10-29","tba":false,"background_image":"https://media.rawg.io/media/games/415/41563ce6cb061a210160687a4e5d39f6.jpg","rating":3.1,"rating_top":3,"ratings":[{"id":3,"title":"meh","count":111,"percent":39.22},{"id":4,"title":"recommended","count":91,"percent":32.16},{"id":1,"title":"skip","count":56,"percent":19.79},{"id":5,"title":"exceptional","count":25,"percent":8.83}],"ratings_count":277,"reviews_text_count":5,"added":2026,"added_by_status":{"yet":194,"owned":891,"beaten":140,"toplay":646,"dropped":117,"playing":38},"metacritic":72,"suggestions_count":739,"updated":"2022-10-20T05:18:26","id":324992,"score":"19.603453","clip":null,"tags":[{"id":7,"name":"Multiplayer","slug":"multiplayer","language":"eng","games_count":33478,"image_background":"https://media.rawg.io/media/games/b7b/b7b8381707152afc7d91f5d95de70e39.jpg"},{"id":2030,"name":"city","slug":"city","language":"eng","games_count":8934,"image_background":"https://media.rawg.io/media/games/788/788b80cbc8c39167f7ed6dd89fd398dc.jpg"},{"id":744,"name":"friends","slug":"friends","language":"eng","games_count":14868,"image_background":"https://media.rawg.io/media/games/4fe/4feffcec6315c5f5a96442a8444431ca.jpg"},{"id":5816,"name":"console","slug":"console","language":"eng","games_cou[...]
