---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/games?key=274e6e43bbc54cb5b0403a4976b9dd22&page_size=20&search=call%20of%20duty
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Path:
      - api-game-list
      Content-Language:
      - en
      Api-User:
      - '658155'
      X-Server:
      - api_rawg_io
    body:
      encoding: UTF-8
      string: '{"count":51684,"next":"https://api.rawg.io/api/games?key=274e6e43bbc54cb5b0403a4976b9dd22&page=2&page_size=20&search=call+of+duty","previous":null,"results":[{"slug":"call-of-duty","name":"Call
        of Duty","playtime":4,"platforms":[{"platform":{"id":4,"name":"PC","slug":"pc"}},{"platform":{"id":5,"name":"macOS","slug":"macos"}},{"platform":{"id":14,"name":"Xbox
        360","slug":"xbox360"}},{"platform":{"id":16,"name":"PlayStation 3","slug":"playstation3"}}],"stores":[{"store":{"id":1,"name":"Steam","slug":"steam"}},{"store":{"id":3,"name":"PlayStation
        Store","slug":"playstation-store"}},{"store":{"id":4,"name":"App Store","slug":"apple-appstore"}},{"store":{"id":7,"name":"Xbox
        360 Store","slug":"xbox360"}}],"released":"2003-10-29","tba":false,"background_image":"https://media.rawg.io/media/games/9c5/9c5bc0b6e67102bc96dcf1ba41509e42.jpg","rating":4.19,"rating_top":4,"ratings":[{"id":4,"title":"recommended","count":441,"percent":62.2},{"id":5,"title":"exceptional","count":211,"percent":29.76},{"id":3,"title":"meh","count":48,"percent":6.77},{"id":1,"title":"skip","count":9,"percent":1.27}],"ratings_count":697,"reviews_text_count":6,"added":1879,"added_by_status":{"yet":26,"owned":712,"beaten":1004,"toplay":38,"dropped":87,"playing":12},"metacritic":91,"suggestions_count":533,"updated":"2022-10-16T17:47:34","id":19369,"score":"85.03783","clip":null,"tags":[{"id":31,"name":"Singleplayer","slug":"singleplayer","language":"eng","games_count":186409,"image_background":"https://media.rawg.io/media/games/618/618c2031a07bbff6b4f611f10b6bcdbc.jpg"},{"id":42396,"name":"Для
        одного игрока","slug":"dlia-odnogo-igroka","language":"rus","games_count":28191,"image_background":"https://media.rawg.io/media/games/f87/f87457e8347484033cb34cde6101d08d.jpg"},{"id":42417,"name":"Экшен","slug":"ekshen","language":"rus","games_count":28836,"image_background":"https://media.rawg.io/media/games/328/3283617cb7d75d67257fc58339188742.jpg"},{"id":7,"name":"Multiplayer","slug":[...]
